<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634927230909-epn2p12t6lba80v0rh62h1ld77macjcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634927230909-epn2p12t6lba80v0rh62h1ld77macjcg</string>
	<key>API_KEY</key>
	<string>AIzaSyBieH2sAxHkdzUHQNAv4TYK_NXg_GJ9d1M</string>
	<key>GCM_SENDER_ID</key>
	<string>634927230909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SerxanAli.instaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-4a483</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-4a483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634927230909:ios:0dab544c4ac927123a2cd4</string>
</dict>
</plist>